<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access denied</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <div class="logo">
            <h1><a href="/">Logo</a></h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                <% if(userLoggedIn){%>
                    <li><a href="/<%= loggedInUser.username%>">
                            <%= loggedInUser.username%>
                        </a></li>
                    <% }%>
            </ul>
        </nav>
    </header>
    <div class="forbidden">
        <h1>Access forbidden</h1>
    </div>
    <%- include('./components/footer.ejs')%>
</body>

</html>