<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Register</title>
</head>

<body>
    <% if(!loggedInUser && userLoggedIn){%>
        <div class="alert">
            <p>You are no longer logged in, please login again.</p>
        </div>
        <% } %>
            <!-- Here goes Navbar -->
            <nav class="navbar navbar-expand-lg bg-light py-3">
                <div class=" container">
                    <a class="navbar-brand d-flex align-items-center gap-2 text-dark" href="/">
                        <div style="width: 1rem; height: 1rem;">
                            <svg viewBox="0 0 48 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6 6H42L36 24L42 42H6L12 24L6 6Z" fill="currentColor"></path>
                            </svg>
                        </div>
                        <h2 class="text-dark fs-5 fw-bold mb-0">TaskMaster</h2>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main"
                        aria-controls="main" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa-solid fa-list-ul"></i>
                    </button>
                    <div class="collapse navbar-collapse mt-3 justify-content-lg-end gap-lg-3" id="main">
                        <a class="btn btn-custom-blue rounded-pill my-1" aria-current="page" href="/">Home</a>
                        <a class="btn btn-custom-blue rounded-pill my-1" aria-current="page" href="/users">Users</a>
                        <% if(userLoggedIn && loggedInUser){%>
                            <a class="user_link mt-3 mt-lg-0" href="/user/<%= loggedInUser.username%>">
                                <div class="user_image">
                                    <% if(loggedInUser.gender==="male" ){ %>
                                        <img src="/images/user.png" alt="No Source">
                                        <% } else if(loggedInUser.gender==="female" ) {%>
                                            <img src="/images/woman.png" alt="No Source">
                                            <% } else {%>
                                                <img src="/images/Uknown Person png.png" alt="No Source">
                                                <% }%>
                                                    <%= loggedInUser.username%>
                                </div>
                            </a>
                            <% } else {%>
                                <a class="btn btn-custom-blue rounded-pill my-1" href="/login">Login</a>
                                <a class="btn btn-custom-blue rounded-pill my-1" href="/register">Register</a>
                                <% }%>
                    </div>
                </div>
            </nav>
            <!-- Here ends Navbar -->
            <div class="register_form_div my-4 my-md-0">
                <div class="register_header_div">
                    <h1 class="text-center text-light fw-bold">Create your account</h1>
                </div>
                <div class="container text-center">
                    <form action=" /register" method="post">
                        <div class="username_div">
                            <label for="username">Username <span
                                    style="color:rgb(255, 35, 35)">(Required!)</span></label>
                            <input type="text" name="user" id="username" placeholder="Username" required>
                        </div>
                        <div class="pass_div">
                            <label for="password">Password <span
                                    style="color:rgb(255, 35, 35)">(Required!)</span></label>
                            <input type="password" name="pwd" id="password" placeholder="Password" required>
                        </div>
                        <div class="gen_div">
                            <label for="gender">Gender <span style="color: rgb(0, 255, 34)">(Optional)</span></label>
                            <select name="gender" id="gender">
                                <option value="none" selected>None</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                        </div>
                        <div class="job_div">
                            <label for="job">What's your job? <span
                                    style="color: rgb(0, 255, 34)">(Optional)</span></label>
                            <input type="text" name="job" id="job" minlength="10" maxlength="20"
                                placeholder="e.g: Full stack web developer."></input>
                        </div>
                        <input class="submit_div btn btn-custom-blue my-3" type="submit" value="register">
                    </form>
                </div>
            </div>
            <%- include('./components/footer.ejs')%>
                <script>

                    // Get The form
                    const form = document.querySelector('form');

                    // Add event listener to the form
                    form.addEventListener("submit", async (e) => {
                        e.preventDefault() // Prevent the default form submission

                        // Get all data from the form
                        const username = document.getElementById('username');
                        const password = document.getElementById('password');
                        const gender = document.getElementById("gender");
                        const job = document.getElementById("job");

                        const finalData = {
                            user: username.value,
                            pwd: password.value,
                            gender: gender.value,
                            job: job ? job.value : "none"
                        }

                        for (let key in finalData) {
                            if (finalData[key] == "none") {
                                delete finalData[key]
                            }
                        }
                        const response = await fetch("http://localhost:3500/register", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify(finalData)
                        })
                        const data = await response.json();
                        if (response.ok) {
                            alert("Registration successful!");
                            window.location.href = "/login"; // Redirect to login page
                        } else {
                            alert(data.message);
                        }
                    })
                </script>
                <script src="/js/all.min.js"></script>
                <script src="/js/bootstrap.bundle.min.js"></script>
                <script src="/js/main.js"></script>
</body>

</html>