<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Add task</title>
</head>

<body>
    <!-- Here goes Navbar -->
    <nav class="navbar navbar-expand-lg bg-light py-3">
        <div class=" container">
            <a class="navbar-brand d-flex align-items-center gap-2 text-dark" href="/">
                <div style="width: 1rem; height: 1rem;">
                    <svg viewBox="0 0 48 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 6H42L36 24L42 42H6L12 24L6 6Z" fill="currentColor"></path>
                    </svg>
                </div>
                <h2 class="text-dark fs-5 fw-bold mb-0">TaskMaster</h2>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main"
                aria-controls="main" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa-solid fa-list-ul"></i>
            </button>
            <div class="collapse navbar-collapse mt-3 justify-content-lg-end gap-lg-3" id="main">
                <a class="btn btn-custom-blue rounded-pill my-1" aria-current="page" href="/">Home</a>
                <a class="user_link mt-3 mt-lg-0" href="/user/<%= user.username%>">
                    <div class="user_image">
                        <% if(user.gender==="male" ){ %>
                            <img src="/images/user.png" alt="No Source">
                            <% } else if(user.gender==="female" ) {%>
                                <img src="/images/woman.png" alt="No Source">
                                <% } else {%>
                                    <img src="/images/Uknown Person png.png" alt="No Source">
                                    <% }%>
                                        <%= user.username%>
                    </div>
                </a>
            </div>
        </div>
    </nav>
    <!-- Here ends Navbar -->
    <div class="task_container py-3 my-3">
        <div class="container text-center">
            <h1 class="text-center my-4">Add Task</h1>
            <form class="text-center py-3 my-3 d-flex justify-content-center align-items-center flex-column gap-3">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" maxlength="50" minlength="1" id="title" name="title"
                        required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" class="form-control" rows="5" resize="false" id="description"
                        name="description" maxlength="200"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Add Task</button>
            </form>
            <div class="mt-4">
                <a href="/user" class="btn btn-secondary">Back to Dashboard</a>
            </div>
        </div>
    </div>
    <%- include('./components/footer.ejs')%>
        <script>
            const form = document.querySelector('form');
            form.addEventListener("submit", async () => {
                const title = document.getElementById('title').value;
                const description = document.getElementById('description').value;
                const status = false;

                await fetch("http://localhost:3500/addtask", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        title,
                        description,
                        status,
                        userId: "<%= user.id %>"
                    })
                }).then(response => {
                    if (response.ok) {
                        alert("Task added successfully!");
                        // window.location.href = "/user";
                    } else {
                        alert("Failed to add task. Please try again.");
                    }
                }).catch(error => {
                    console.error("Error:", error);
                })
            })
        </script>
        <script src="/js/all.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/main.js"></script>
</body>

</html>